.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 0;
  display: inline-block;
  color: #4C4CFF;
  text-decoration: none;
  transition: color 0.2s linear 0.2s;
}

.link:hover {
  color: #F2F2F3;
}