.container {
    max-width: 600px;
    width: 100%;
    align-self: self-start;
  }
  
  .tabs {
    display: flex;
  }
  
  .list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
    list-style-type: none;
  }
  
  .link {
    color: #F2F2F3;
    text-decoration: none;
  }
  
  .scrollbar {
    max-height: 716px;
    overflow-y: scroll;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    margin-bottom: 52px;
    background-color: #2F2F37;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    width: 100%;
    height: 492px;
    background-color: #8585AD;
  }